.university {
  flex: 4;
}

.ws-tile-three-line-textLeft .list-h3 {
  padding-top: 0.75rem;
  padding-left: 1rem;
}

.list-h3 {
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.list-p {
  font-size: 87.5%;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
}

.universityList {
  position: absolute;
  top: 20%;
  left: 10%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100%;
  height: 100%;
}
